.emoji-face {
    width: 100px;
    height: 100px;
    background-color: #f2dd68;
    border-radius: 50%;
    box-shadow: 2px 0px 2px 2px rgb(0, 0, 0, 0.07);
    position: relative;
}

.eye1 {
    position: absolute;
    width: 11px;
    height: 12px;
    background: #995710;
    top: 30px;
    left: 20px;
    border-radius: 50%;
}

.eye2 {
    position: absolute;
    width: 11px;
    height: 12px;
    background: #995710;
    top: 30px;
    right: 20px;
    border-radius: 50%;
}

.mouth {
    width: 70px;
    height: 34px;
    background: #995710;
    border-radius: 0px 0px 90px 90px;
    position: absolute;
    top: 52px;
    left: 16px;
    z-index: 1;
    overflow: hidden;
}



.tongue {
    width: 38px;
    height: 38px;
    background: #e25d5d;
    border-radius: 40%;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 2;
}

.mouth-shock {
    width: 23px;
    height: 25px;
    background: #995710;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 40px;
}

.mouth-speechless {
    width: 70px;
    height: 5px;
    background: #995710;
    position: absolute;
    top: 60px;
    left: 16px;
}